html {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

.section {
  min-height: 100vh;
  text-align: center;
  vertical-align: baseline;
  background-color: #343434;
}

.fullscreen {
  position: absolute;
  top: 100vh;
  min-height: 100vh;
  text-align: center;
  width: 100%;
}

.video-container {
  position: absolute;
  z-index: -99;
  width: 100%;
  height: 100vh;
}

.video-container iframe {
  opacity: 0.7;
}

.image-container {
  position: absolute;
  z-index: 99;
  height: 90%;
  width: auto;
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.image-container img {
  width: inherit;
  height: inherit;
}

.image-icon {
  height: 30vh;
  width: auto;
  text-align: center;
  top: 0;
}

.image-icon img {
  width: inherit;
  height: inherit;
}

#info {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

#info h1 {
  text-align: left;
  padding-bottom: 1rem;
}

.links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}

.links div {
  flex-grow: 1;
  width: 20%;
  height: 70px;
}

.links img {
  width: 50%;
}

.scroll a {
  position: absolute;
  text-align: center;
  bottom: 20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}
.scroll a:hover {
  opacity: 0.5;
}

#scrollSection a {
  padding-top: 80px;
}

#scrollSection a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#scrollSection a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#scrollSection a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
#scrollSection a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 992px) {
  .image-container {
    width: 100%;
    height: 70%;
    top: -5%;
  }

  .image-container img {
    filter: invert(1);
  }

  #info h1 {
    text-align: center;
    padding-bottom: 1rem;
  }
}
